<div class="card">
  <div class="card__image">Image</div>
  <d32iv class="card__body">
    <h2 class="card__title">
      Movie Title
    </h2>
    <p class="card__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aliquid corporis iusto eligendi placeat
      explicabo tempora, libero ex doloribus doloremque cupiditate ea in nisi. Vel exercitationem
      perspiciatis voluptatibus cumque deleniti?
    </p>
</div>