/* home page */
body {
  /* background-color: #55679C; */
}

.container {
  padding-inline: 1em;
  /* padding top-bottom */
  padding-block: 1em;

}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

/* grid portion start here */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

/* card */
.card {
  display: block;
  border: solid 1px #e3e3e3;
  padding: 1em;
  border-radius: 5px;
  max-width: max-content;
  width: 320px;
  /* color: white; */
  background-color: #D1E9F6;
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
}

.card__image {
  min-height: 80px;
}

.card__image img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.card__description,
.card__duration,
.card__rating {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #222222db;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card__rating span {
  /* border: 1px solid gray; */
  background-color: #FFE700;
  border-radius: 5px;
  padding-inline: 0.5rem;
}

.card__duration span {
  background-color: #FFE700;
  border-radius: 5px;
  padding-inline: 0.5rem;
}




@media screen and (min-width: 600px) {
  .container {
    padding-inline: 15%;
    padding-block: 2em;
  }
}