/* home page */
body {
  /* background-color: #387478; */
}

.container {
  padding-inline: 1em;
  /* padding top-bottom */
  padding-block: 1em;

}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

/* grid portion start here */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

/* card */
.card {
  display: block;
  border: solid 1px #e3e3e3;
  padding: 1em;
  border-radius: 5px;
  max-width: max-content;
  width: 320px;
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}

.card__image {
  min-height: 80px;
}

.card__image img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.card__description,
.card__duration,
.card__rating {
  font-size: 0.8rem;
  color: #222222db;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}



@media screen and (min-width: 600px) {
  .container {
    padding-inline: 15%;
    padding-block: 2em;
  }
}